<div>
  <h2>Entry</h2>
  <h3><%= @entry.award_ceremony_name %></h3>
  <h3><%= @entry.email %></h3>

  <% if policy(@entry).edit?  %>
    <%= link_to "Edit Entry", edit_entry_path(@entry) %>
  <% end %>
  <table class="minimal-table entry">
    <thead>
      <th>Category</th>
      <th>Pick</th>
    </thead>
    <tbody>
      <% @entry.picks.each do |p| %>
        <tr class="category">
          <td>
            <%= p.category.name %>
          </td>
          <td>
            <% if p.nominee.present? %>
              <%= p.nominee.name %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
