<div>
  <h2>Entry</h2>
  <h5><%= link_to @entry.award_ceremony_name, pool_path(@entry.pool) %></h5>
  <h5 class="entry-name-header"><%= @entry.email %></h5>
  <% if @entry.locked? %>
    <h5 class="entry-score-header">Score: <%= @entry.score %></h6>
  <% end %>

  <% if policy(@entry).edit?  %>
    <div>
      <%= link_to "Edit Entry", edit_entry_path(@entry) %>
    </div>
  <% end %>
  <table class="minimal-table entry">
    <thead>
      <th>Category</th>
      <th>Pick</th>
      <% if @entry.locked? %>
        <th>Winner</th>
      <% end %>
    </thead>
    <tbody>
      <% @entry.picks.each do |p| %>
        <tr class="category">
          <td>
            <%= p.category.name %>
          </td>
          <td>
            <% if p.nominee.present? %>
              <%= p.nominee.name %>
            <% end %>
          </td>
          <% if @entry.locked? %>
            <% if p.category.winner.present? %>
              <td class="<%= 'correct-winner' if p.nominee.winner? %>"><%= p.category.winner.name %></td>
            <% else %>
              <td>-</td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if @entry.locked? %>
    <h5 class="entry-score-footer">Score: <%= @entry.score %></h5>
  <% end %>
</div>
