<div>
  <h2>Entry</h2>
  <h3><%= @entry.award_ceremony_name %></h3>
  <h3><%= @entry.email %></h3>

  <% if policy(@entry).edit?  %>
    <%= link_to "Edit Entry", edit_entry_path(@entry) %>
  <% end %>
  <ul class="entry">
    <% @entry.picks.each do |p| %>
      <li class="category">
        <div><%= p.category.name %></div>
        <% if p.nominee %>
          <div><%= p.nominee.name %></div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
